.footer {
  border-top: 0.1pt solid #a0aec0;
  width: 100%;
  text-align: center;
  padding-block: 1rem;
  grid-row-start: 2;
  grid-row-end: 3;
}

.text {
  font-size: 11pt;
  text-align: center;
  color: #4a5568;
  padding-top: 5px;
  display: inline;
}

a {
  color: #43aaa8;
  text-decoration: none;
  border-bottom: 1px solid #43aaa8;
  transition: all 0.2s ease-in-out;
  padding: 2px;
}

a:hover {
  color: white;
  background-color: #43aaa8;
}
